body {
	background-image: url(../images/ep_naturalwhite.png);
	width: 960px;
	box-sizing: border-box;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section {
	overflow: auto;
	box-sizing: border-box;
}

p {
	margin: 30px;
	line-height: 1.5em;
}

h1, h2 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	float: left;
	padding: 10px;
	margin: 10px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

hr {
	clear: both;
	border-width: 2px;
	margin-bottom: 20px;
}

nav {
	text-align: right;
	background-color: white;
	text-decoration: none;
	padding: 40px;
	margin: 0;
	border-bottom: 2px solid;
	border-color: lightgrey;
}

ul {
	list-style-type: none;
	word-spacing: 30px;
	color: grey;
}

li {
	display: inline;
}

footer {
	background-color: #666666;
	text-align: center;
	padding: 25px;
	color: white;
	border-top: 6px solid;
	border-color: #4aaaa5;
	margin-top: 10px;
	font-size: 11px;
	clear: both;
}

.about-me, .portfolio, .contact {
	width: 650px;
	background-color: white;
	box-sizing: border-box;
	clear: both;
	border: 2px solid;
	border-color: #dddddd;
	padding: 10px;
	margin-left: 50px;
	margin-top: 25px;
}

.connect {
	width: 270px;
	background-color: white;
	padding: 10px;
	float: right;
	box-sizing: border-box;
	border: 2px solid;
	border-color: #dddddd;
}

.contact-form {
	margin: 15px;
	line-height: 28px;
}

#message {
	height: 200px;
	width: 400px;
}

.name-header {
	background-color: #4aaaa5;
	color: white;
	padding: 25px 35px;
	margin-left: 50px;
	margin-top: 0;
	float: left;
	font-size: 36px;
}

.nav-link {
	text-decoration: none;
	color: grey;
}

.nav-link:hover {
	font-style: italic;
}

.portfolio-banner {
	background-color: #4aaaa5;
	color: white;
	box-sizing: border-box;
	z-index: 100;
	float: left;
	width: 200px;
	padding: 20px;
	text-align: center;
	position: inherit;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	display: inline;
}

.submit-button {
	background-color: #4aaaa5;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit-button:hover {
	background-color: grey;
}

.social-media {
	height: 50px;
	width: 50px;
	padding: 5px;
	margin: auto;
}

.headshot {
	width: 200px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.headshot:hover {
	content: url("../images/guinness.jpg");
	width: 200px;
	height: 300px;
}

.image-portfolio {
	width: 200px;
	height: 200px;
	padding: 25px;
	z-index: 1;
	float: left;
}
